<!-- 로고 클릭 시 메인 페이지로 이동 -->
<a href="admin_main"><img class="logo" src="<%=publicPath%>/img/logo.png" /></a>

<!-- 상단 메뉴 -->
<section>
  <div>
    <nav><a href="admin_doctor"><span class="doctor">전문가관리</span></a></nav>
    <nav><a href="admin_member"><span class="member">회원관리</span></a></nav>
    <nav><a href="admin_as"><span class="as"><span>A/S 문의</span></span></a></nav>
  </div>
</section>