<!--footer  -->
<span class="footer-group">
    <span class="footer-kwa">KWAEGYEON</span>
    <span class="footer">
        주식회사 쾌견<br />
        주소 : 광주광역시 동구 예술길 31-15, 3~5층<br />
        대표 번호 : 062 - 123 - 5678<br />
        이메일 : Kwaegyon@gmail.com<br />
        ⓒ 2023 Kwaegyeon Inc.
    </span>
</span>