<!DOCTYPE html>
<html>

<head>

  <%- include('includes/head') %>

  <title>μ¤λ§νΈν• λ°λ ¤κ²¬ ν™”μ¥μ‹¤ μ‡μΈ λ©(ITSMUNG)π’¦ - AdminPage</title>
  <link rel="stylesheet" href="<%=publicPath%>/css/Admin_main.css" />
</head>

<body>
  <div>
    <div class="main-size">

      <%- include('includes/adminheader') %>

      <div class="Kwaegyeon-group">
        <span class="Kwaegyeon">μΎκ²¬</span>
        <span class="Kwaegyeon-1">μ</span>
        <span class="itmung">μ‡μΈ λ©</span>
      </div>

      <span class="admin-hi"><span>κ΄€λ¦¬μλ‹ ν™μν•©λ‹λ‹¤</span></span>

      <%- include('includes/footer') %>
    </div>
  </div>
</body>

</html>